<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>
<p>
  student 
  admit a student
  assign homework class wise
  map homework to student
  email the homework to parents
  see the hoemwork in dashboard
  see if teacher checked the homework in dashboard
  review for the homeworks-status
  student portal
  teacher portal
  management portal
  parents portal
  take a exam
  publish results
  attendance
  ECA day
  
</p>
<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>
